---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Projects from "@/components/Projects.astro";
---

<BaseLayout>
  <main class="space-y-4">
    <section class="text-slate-400 max-sm:text-sm select-none hidden">
      <div class="flex justify-between items-center gap-2">
        <!-- TODO make the nav a component and pass links as array -->
        <nav class="flex gap-2">
          <a class="link" href="/oskvr37/">home</a>
          <span>&bull;</span>
          <a class="link" href="/oskvr37/blog">blog</a>
          <span>&bull;</span>
          <a class="link" href="/oskvr37/portfolio">portfolio</a>
        </nav>
        <div class="bg-slate-600 w-full h-[1px]"></div>
        <span class="text-nowrap">oskar dudziński</span>
      </div>
    </section>
    <section class="space-y-4">
      <h1 class="text-2xl font-medium">
        Oskar Dudziński
        <span class="block mt-1 text-slate-300 font-light">
          Fullstack Web Developer
        </span>
      </h1>
      <div class="leading-7 text-sm font-light text-slate-300 max-w-[80ch]">
        <p>
          Self-taught developer with hands-on experience creating responsive,
          interactive&nbsp;web&nbsp;applications and&nbsp;high-performance
          websites.
        </p>
        <p>
          I work with TypeScript, React, Next.js, Astro, and&nbsp;TailwindCSS
          to&nbsp;build fast and&nbsp;maintainable projects.
        </p>
      </div>
    </section>
    <section>
      <!-- TODO socials & contact -->
    </section>
    <Projects />
    <section>
      <!-- TODO check out my blog -->
    </section>
  </main>
</BaseLayout>
