@import "tailwindcss";

@theme {
  --font-sans: Roboto, sans-serif;
  --font-mono: Fira Code, monospace;

  --breakpoint-sm: 480px;

  --page-width: 960px;
}

body {
  @apply text-slate-50 bg-slate-950;
}

main {
  @apply mx-auto max-w-[var(--page-width)] px-2 py-4;
}

footer {
  @apply mx-auto max-w-[var(--page-width)] p-2;
}

header {
  @apply mx-auto max-w-[var(--page-width)] p-2;
}

p {
  @apply text-slate-300 font-light;
}

.link {
  @apply hover:underline;
}
